<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Elementos de Ingeniería de Software</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Elementos de Ingeniería de Software</h1>
        <p></p>


        <ul>
          <li><a href="https://github.com/softwareengineeringunq/bitacora/zipball/gh-pages">Descargar <strong>ZIP </strong></a></li>
          <li><a href="https://github.com/softwareengineeringunq/bitacora/zipball/gh-pages">Descargar <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/softwareengineeringunq/bitacora">Ver fuentes en <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>{{ page.title }}</h3>

        {{ content }}
      </section>      
      <footer>
        <p>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
        </p>
      </footer>

    </div>
    
  </body>
</html>